.hide {
  display: none;
}

.col-lg-2 {
  margin-top: 30px;
  border-right: 1px solid #000000;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .col-lg-2 {
    border-right: none;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filterOption {
  display: flex;
  flex-direction: row;
}

.filterOption label {
  margin-left: -30px;
  margin-top: -3px;
}
