.col-lg-6,
.col-lg-5 {
  background-color: white;
  padding: 30px;
  border-radius: 18px;
  margin-top: 20px;
}

.paymentMethod {
  display: flex;
  flex-direction: row;
}

label {
  margin-right: 10px;
}

input {
  width: 50%;
  border-color: #addeff;
}

.submit {
  border-radius: 20px;
  background-color: #addeff;
  color: white;
  text-transform: uppercase;
  float: right;
}

h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px !important;
}
