.userItemDiv {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  border-radius: 2px;
  height: 400px;
  margin-top: 20px;
  box-shadow: 0px 0px 2px 2px #e8e8e8;
}

.itemImg {
  height: 200px;
}
